.container{
    text-align: center;
    margin-top: 10px;
    background-color: azure;
    margin: auto;
}
table{
    margin:auto;
}
input{
    font-size: 29px; 
    height:50px;
    border-color: aliceblue;
    border-width: 0px;
    background-color: rgb(244, 249, 250);
}
button{
    font-size:34px;
    padding: 8px 2px 8px 2px;
    margin: 14px 2px 5px 2px;
    width:75px;
    height:60px;
    border-radius: 23px;
    border-style: none;
    background-color: rgb(183, 213, 218);
}
.calculator{
    display:inline-block;
    background-color: rgb(183,213, 218);
    border-radius: 2px solid black;
    border-style: double;
}
h1{
    color: rgb(54, 171, 171);
    font-style: oblique;
    box-shadow: 2px;
}
